<div class="cp-panel economy-view">
    <div class="header">
        <h1>{{region.name}}</h1>
    </div>
    <div class="separator"></div>
    <div class="body">
        <div class="row">
            <div class="span9 center offset1">
                <div class="cp-header green">
                    <div></div>
                    <div><span> Overview </span></div>
                    <div></div>
                </div>
            </div>
            <div class="span9">
                <div class="cp-header red">
                    <div></div>
                    <div><span> Taxes </span></div>
                    <div></div>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="span8 offset2 padding2 labels">                
                <div>Population: <b>{{region.population}}</b></div>
                <div>Population grow: <b>+2 / month</b></div>
                <div>Happiness: <img src="images/smile.png" /></div>
                <div>Man power: <b>20</b></div>
                <div>Man power grow: <b>+0.5 / month</b></div>
            </div>
            <div class="span9 padding2 labels">
                <div>Tax: <b>17 g</b>  <img src="images/currency.png" /></div>
                <div>Tax / Population: <b>0.2 g</b>  <img src="images/currency.png" /></div>
                <div>Tax Bonus: <b>10%</b></div>
            </div>
        </div>
        <div class="row h40-spacer"></div>
        <div class="separator"></div>
        <div class="row center">
            <div class="cp-btn green"><label>Ok</label></div>
            <div class="cp-btn red"><label>Cancel</label></div>                
        </div>
    </div>
    <div class="footer"></div>        
</div>